.mdc-dialog .mdc-dialog__surface {
    max-width: 683px !important;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 26px;
    padding-right: 25px;
    border: 1px solid #D1CFCF
}

.add-reading-text-boxs {
    max-width: 198px;
    height: 56px;
    width: 100%;
}

/* .mdc-add-reading-fields {
    display: flex;
    justify-content: space-between;
    gap: 22px;
} */
.mdc-add-reading-fields .select-fields,
.mdc-add-reading-fields .input-fields {
    display: flex;
    gap: 21px;
}

.mdc-add-reading-fields .select-fields {
    padding-bottom: 44px;
}

.mdc-add-reading-fields .input-fields {
    padding-bottom: 40px;
}

.mdc-dialog .mdc-dialog__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.mdc-dialog .mdc-dialog__content {
    padding: 0 !important;
}

.mdc-dialog .mdc-dialog__title {
    padding: 0 0 30px 0 !important;
}

.mdc-dialog .dialog-info {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 26px;
}

.mdc-dialog .add-reading-buttons {
    display: flex;
    justify-content: end;
    gap: 12px;
    padding-top: 26px;
}

.mdc-dialog .add-reading-buttons button {
    width: 34%;
    border-radius: 6px;
}

.mdc-dialog .add-reading-buttons button .mdc-button__label {
    font-weight: 700;
}

.mdc-dialog .add-reading-buttons button:first-child {
    background-color: white;
    border: 2px solid #1C8DC7;
    color: #1C8DC7;

}

.mdc-dialog .text-box select {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: none;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 600;
    color: #000000DE;

}

.text-box.add-reading-text-boxs.with-select {
    padding: 0 16px !important;

}

.mdc-dialog.mdc-dialog--open {
    z-index: 30;
}

.dialog-groups-eye {
    display: flex;
    width: 100%;
    gap: 56px;
}

.dialog-groups-eye .text-box {
    height: 56px;
    max-width: 291px;
    width: 100%;
}

.dialog-groups-eye-container {
    max-width: 681px;
    width: 100%;
}

.dialog-groups-eye .before,
.dialog-groups-eye .after {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.dialog-groups-eye .info {
    color: var(--black-high-emphasis, rgba(0, 0, 0, 0.87));
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
    letter-spacing: 0.25px;
}

.dialog-groups-eye-container .add-reading-buttons {
    display: flex;
    width: 100%;
    gap: 56px;
    padding-top: 66px;
}

.dialog-groups-eye-container .add-reading-buttons button {
    width: 50%;
    background-color: #1C8DC7 !important;
    color: white !important;
}

.mdc-add-delivery-fields,
.mdc-edit-delivery-fields {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 44px;
    row-gap: 22px;
}

.text-box.comments,
.text-box.associated {
    margin-top: 36px;
}

.edit-reading button {
    max-width: 141px;
    width: 100%;
}
.mdc-dialog-limit-block .mdc-dialog__container{
    max-width: 496px;
    width: 100%;
}
.mdc-dialog-limit-block .mdc-dialog__container .text-box{
    max-width: unset;
}
.mdc-dialog-allow-product .mdc-dialog__container,.mdc-dialog-withhin-day .mdc-dialog__container{
    max-width: 496px;
    width: 100%;
}
.mdc-dialog-allow-product .mdc-dialog__container .text-box,.mdc-dialog-withhin-day .mdc-dialog__container .text-box{
    max-width: unset;
    margin-bottom: 20px;
}
.mdc-dialog-allow-product .add-reading-buttons{
    padding-top: 0 !important;
}
.mdc-dialog-allow-product .mdc-dialog__container button,.mdc-dialog-limit-block .mdc-dialog__container button,.mdc-dialog-withhin-day .mdc-dialog__container button{
    width: 50% !important;
}
